
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
    
}
body{
    font-family:"merriweather-light";
    background-color:rgb(2, 36, 56);
}

nav{
    height: 80px;
    width: 100%;
}

.logo{
    margin-top:15px;
    margin-left:50px;
    border-radius: 15%;
}

nav ul{
    float:right;
    margin-right:20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}

nav ul li a{
    color:cadetblue;
    font-size: 17px;
    text-transform: uppercase;
}


.headings{
    margin-top: 20px;
    margin-left: 30px;
    color:aquamarine;
    font-family:'Courier New', Courier, monospace ;
    font-size:60px;
}

ul li{
    font-size:20px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 5px;
}

a:hover{
    color:aquamarine;
}

ul li a{
    color:aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topics{
    background-color: rgba(8, 57, 70, 0.514);
    border-radius: 5px;
    width: 500px;
    margin:50px;
    float: left;
}

.Heading1{
    margin: 15px;
    color:cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topic-container{
    width:1000px;
    display:flexbox;
}

.dropdown {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 200px;
    text-decoration: none;
    z-index: 1;
    transform: perspective(1000px);
  }
  
  .dropdown-menu {
    background-color: rgba(8, 57, 70, 0.514);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    opacity: 0;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: -99999;
  }
  
  .dropdown-menu li:first-child {
    cursor: default;
  }
  
  .dropdown-menu a {
    color: aquamarine;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  
  
  .dropdown:hover .dropdown-menu {
    background: rgba(8, 57, 70, 0.514);
    opacity: 1;
    visibility: visible;
    top: 100%;
    width: 100%;
    -webkit-transition: all .3s, background, 2s .3s linear;
    transition: all .3s, background 2s .3s linear;
    border-radius: 5px;
  }

  .labels:hover{
    color:skyblue;
  }
  
