*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
}
body{
    font-family:montserrat;
}

nav{
    background-color: bisque;
    height: 80px;
    width: 100%;
}

.logo{
    margin-top:15px;
    margin-left:50px;
    border-radius: 15%;
}

nav ul{
    float:right;
    margin-right:20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}

nav ul li a{
    color:cadetblue;
    font-size: 17px;
    text-transform: uppercase;
}

a:hover{
    background-color:rgb(231, 183, 142);
    padding:3px;
    border-radius: 5%;
}

.headings{
    margin-top: 20px;
    margin-left: 30px;
    color:chocolate;
    font-family:'Courier New', Courier, monospace ;
}

ul li{
    font-size:20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

ul li a{
    color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
